$bgColor: #204F40;

html {
  font-size: 62.5%;
}

body {
  background: $bgColor;
  font-size: 1.6rem;
}

nav {
  width:100%;
  position:fixed;
  margin-top: 2rem;
  display: flex; 
  gap: 1rem;
  top:0;
  display: flex;
  justify-content: space-around;
}

.vintage__desktop {
  width: 70rem;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  }