$dark-green: #204f40;
$dark-blue: #344767;
$light-green: #87a168;
$lighter-green: #b3c7c1;
$light-blue: #8bbfbf;
$header--bg: #f5f5f5;
$header-height: 80px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

header {
  background-color: $header--bg;
  position: sticky;
  height: $header-height;
  top: 0;

  // ~~~~~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~~~~~~
  @media screen and (min-width: 940px) {
  }

  .navbar {
    width: 100%;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;

    &__links {
      display: flex;
      gap: 10px;
    }
  }

  a {
    font-family: "TurisBold";
  }
}

a {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: $dark-green;
  text-decoration: none;
}

a:hover {
  color: $light-green;
  font-weight: 400;
}

.verse {
  text-align: center;
  margin: 0 0;
  padding-top: 200px;
  font-size: 4rem;
  font-family: "DomaineDisplayNarrow-RegularItalic";
  background-color: $light-blue;
  letter-spacing: 0.1rem;

  span {
    font-family: "DomaineDisplayNarrow-MediumItalic";
    font-size: 4.2rem;
  }
}

#reference {
  margin: 0 0;
  padding-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  background-color: $light-blue;
  padding-bottom: 100px;
  font-family: "TurisLight";
  font-size: 2rem;
}

.VINTAGE {
  text-align: center;
  height: calc(100vh - $header-height);
  padding-top: 220px;
  background-color: $dark-green;
  color: $light-green;
  margin: 0 0;

  img {
    width: 60vw;
    min-width: 600px;
  }
}

.trapezoid {
  // align shape in middle
  margin: 0 auto;
  margin-top: 45px;

  // set dimensions of rectangle
  // width: 300px;
  width: 20vw;
  min-width: 150px;

  // font stuff
  font-family: "TurisBold";
  font-weight: 400;
  font-size: 30px;
  color: $dark-green;

  border-top: 50px solid $light-green;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  // padding-bottom: 10px;
  position: relative;

  h2 {
    position: absolute;
    margin: 0;
    width: 100%;
    top: -51px;
    text-align: center;
  }
}
// ~~~~~~~~~~~~~~~~~~~~~~ SECTION TITLE ~~~~~~~~~~~~~~~~~~~~~~
.section-title {
  display: flex;
  width: 100%;
  height: 150px;
  // relative is making the title float over the navbar
  position: relative;
  overflow: hidden;

  h1 {
  // absolute is making the title float over the navbar
    position: absolute;
    top: 50px;
    left: 0;
    margin: 0;
    width: 100%;
    font-family: "TurisBold";
    font-weight: 400;
    color: $light-green;
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .svg-container {
    display: flex;
    img {
      opacity: 30%;
      position: relative;
    }
  }
}

.events {
  background-color: $dark-blue;
}
.groups {
  background-color: $dark-green;
}
.search {
  background-color: $dark-blue;
}
.eventSVG {
  top: -130px;
  left: 75vw;
  height: 600px;
}
.groupsSVG {
  top: -200px;
  left: 65vw;
  height: 670px;
}
.searchSVG {
  top: -19px;
  left: 80vw;
  height: 400px;
  transform: rotateY(180deg);
}

p {
  font-family: "Turis";
  color: $dark-green;
  font-size: 3rem;

  span {
    font-family: "DomaineDisplay";
    font-weight: 500;
    font-size: 3.5rem;
  }
}

.spacer {
  height: 30px;
  background-color: #fff;
}

// ~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~
footer {
  background-color: #f5f5f5;
  color: $dark-green;
  padding-left: 60px;
  padding-top: 40px;
  margin-top: 20px;

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: auto auto;
  }

  .space-between {
    flex: 1;
  }

  .dates {
    padding-right: 120px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  h1 {
    font-family: "DomaineDisplayNarrow-Regular";
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 5px;
  }

  h2 {
    font-family: "DomaineDisplayNarrow-RegularItalic";
    letter-spacing: 3px;
    font-size: 2rem;
    margin-bottom: 0px;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  h5 {
    font-family: "Turis";
    margin: 0;
  }
  table {
    width: 100%;
  }
  a {
    font-family: "Turis";
    font-size: 13px;
    text-decoration: underline;
  }
}

@mixin basic-button {
  button {
    margin-bottom: 30px;
    background-color: $dark-green;
    color: $header--bg;
    font-family: "TurisBold";
    padding: 15px 25px 15px 25px;
    text-transform: uppercase;
    border: none;
    a {
      color: white;
    }
  }
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BASIC LAYOUT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin basic-layout {
  .title-container {
    display: flex;
    // justify-content: left;
    h1 {
      margin-top: 20px;
      font-family: "DomaineDisplay";
      font-size: 5rem;
      color: $dark-green;
    }
  }

  p {
    font-family: "Turis";
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .input-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    input {
      width: 50%;
      min-width: 230px;
      border-radius: 50px;
      border: 5px solid $dark-green;
      padding: 0.8rem 2rem;
      outline: none;
      font-family: "Turis", sans-serif;
      font-size: 1.6rem;
      margin-right: 25px;
    }
    button {
      font-size: 1.6rem;
      border-radius: 50px;
      border-style: none;
      padding: 1.2rem 3rem;
      font-family: "Turis", sans-serif;
      background-color: $dark-green;
      color: $header--bg;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    button {
      margin-bottom: 30px;
      background-color: $dark-green;
      color: $header--bg;
      font-family: "TurisBold";
      padding: 15px 25px 15px 25px;
      text-transform: uppercase;
      border: none;
      a {
        color: white;
      }
    }
  }

  .img-container {
    display: flex;
    justify-content: left;
    gap: 20px;
    position: relative;
    height: 100%;
    img {
      margin: 0;
      position: absolute;
      bottom: 0;
      object-fit:cover;
    }
  }
}

.basic-layout-right {
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 60px;
  height: 70vh;
  overflow: hidden;

  img:nth-child(1) {
    float: right;
    max-height: 70vh;
    width: 50vw;
    object-fit: cover;
    margin-left: 60px;
  }
  @include basic-layout();

  .title-container {
    justify-content: right;
  }
  p {
    text-align: right;
  }
}

.basic-layout-left {
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 60px;
  height: 70vh;
  overflow: hidden;

  img:nth-child(1) {
    float: left;
    height: 70vh;
    width: 50vw;
    object-fit: cover;
    margin-right: 60px;
  }
  @include basic-layout();
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GROUPS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.group-names {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 50px;
  height: calc(100vh - $header-height - 150px);
  .group {
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: $dark-green;
    color: $header--bg;
    font-family: "TurisBold";
    padding: 20vh 10vw;
    text-transform: uppercase;
    border: none;

    a {
      color: white;
      font-size: 1.6rem;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~ GROUPS ~~~~~~~~~~~~~~~~~~~~~~~~~~

.links-map {
  display: flex;
}

.group-title {
  margin: 50px 60px 25px 60px;
  font-family: "TurisLight";
  font-size: 4rem;
  color: $dark-green;
}
.groups-container {
  margin: 0px 60px 25px 60px;
  columns: 2;
  gap: 0;
  .team-name {
    width: 100%;
    font-family: "Turis";
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: $dark-green;
    padding-top: 100px;
    padding-bottom: 100px;
    color: $header--bg;
    background-color: #204f40;
    margin-bottom: 10px;
  }
}

.team-title {
  margin: 50px 60px 25px 60px;
  font-family: 'TurisLight';
  font-size: 2rem;
  text-transform: uppercase;
  color: $dark-green;
}
.team-container {
  margin: 0px 60px 0px 60px;
  columns: 2;
  gap: 0;
  .member {
    font-family: 'TurisLight';
    font-size: 1.6rem;
    width: 100%;
    
  }

}